/*Aqui es el css - Pos Principal*/
.postContainer{
  display:flex;
  flex-direction:column;
  border: groove;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 10px 10px 10px;
}
.postContainerf1{
  display:flex;
  justify-content: flex-start;
}
.fotoPerfil{
  display:flex;
  flex-grow:1;
  width: 0px;
}
.derechaFoto{
  display:flex;
  flex-direction:column;
  flex-grow:1;
}
.topicosContainer{
  display:flex;
  justify-content:space-between;
  font-weight: bold;
}
.NombreFecha{
  display:flex;
  justify-content:space-between;
}

.postContainerf3{
  display:flex;

}
.postContainerf4{
  display:flex;
  align-items:center;
  justify-content:center;
}

.postContainerf5{
  display:flex;
  justify-content:space-between;
}

.likes{
  display:flex;
  flex-grow:1;
}
.derechaLike{
  display:flex;
  flex-grow:1;
}
.likes{
  display:flex;
  justify-content:space-around;
}
.containerPreguntas>ul{
  margin-left:-20px;
}
li{
  font-size:10px;
}
.derechaLike{
  display:flex;
  justify-content:space-around;
}

/*el documento ocupara toda la pagina - Estilos3.css*/
html, body{
  height:100%;
  overflow-y:hidden;
}

.containerGeneral{
  display:flex;
  flex-direction:column;
  height:95%;
  margin:0;
  padding:0;
  overflow-y:hidden;
}

.cuerpo>div{
}

.header{
  display:flex;
  justify-content:space-around;
  border-bottom:outset;
  padding-bottom:5px;
}
.cuerpo{
  display:flex;
  justify-content:space-evenly;
  height:100%;
  background-color:#f2e6e6
}
.leftColumn{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  border:ridge;
  width:30%;
  max-width:20%;
  margin:1%;
  font-family: 'Inter',sans-serif;
  height:87%;
  background-color:#ffffff;
  border-radius:15px;
}
.midColumn{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  width:50%;
  margin:1%;
  height:87%;
}
.rigthColumn{
  display:flex;
  flex-direction:column;
  width:30%;
  flex-grow:1;
  margin:1%;
  height:87%;
  border:ridge;
  background-color:#ffffff;
  border-radius:15px;
}
.midcolumHeader{
  position:sticky;
  top:0;
}
.topMedio{
  display:flex;
  justify-content:space-around;
  border-bottom:groove;
}
.topMedio>div{
  color:#cec5c5
}
.topMedio>div:hover{
  color:#7e2929;
  border-bottom-color:;
}
.subTopMedio{
  display:flex;
  justify-content:space-around;
  color:#7e2929;
}
.subTopMedio>div:hover{
  background-color:#831617;
  color:white;
  border-radius:10px;
}
.botMedio{
  display:flex;
  flex-direction:column;
  height:100%;
  overflow-y:scroll;
}
.tags{
  display:inline;
  padding-right: 20px;
  flex-wrap:wrap;
}

.containerTags{
  width: 100%;
  padding:3%;
}
.containerTags>div{
  display:flex;
  width:95%;
}
/*.containerTags div:nth-child(2){
  border:groove;
  border-radius:10px;
  padding:3%;
  width:85%;
}*/
.containerTags>div>input{
  width:100%;
  outline:None;
  border:None;
}

.logo{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.interirLog{
  display:flex;
  justify-content:center;
  height:100%;
}
.LogoForUnsa{
  display:flex;
  align-items:center;
}
.busqueda{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.busquedaBarra{
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  border:groove;
  border-radius:15px;
}
.iconos{
  display:flex;
  flex-grow:1;
  justify-content:center;
}
.interiorIcones{
  display:flex;
  width:80%;
  justify-content:space-around;

}
/*Tambien podriamos usar align-self:center*/
.i{
  display:flex;
  align-self:center;
}
.i:hover{
  color:#84060c
}
.busquedaTop{
  outline:none;
  display:flex;
  justify-content:space-between;
  width:75%;
  border:none;
}
button {
  border:None;
  background-color:#ffffff;
  color:none;
}
button>i{
  border:None;
  color:none;
  background-color:#ffffff
}
.columnside{
  display:flex;
  flex-direction:column;
  height:100%;
}
.containerPreguntas{
  overflow-y:hidden;
  padding:2%;
}
.preguntasFrecuentas{
  position:sticky;
  top:0;
  font-size:16px;
}
.containerPreguntas>ul{
  height:100%;
  overflow-y:scroll;
}
.tree{
  list-style:None;
  border-bottom:groove;
  overflow:scroll;
  height:80%;
  font-size:10px;
}
.listadoPost{
  height:50%;
  padding:2%;
}
.listadoPostTitulo{
  text-align:center;
  font-size:16px;
  font-weight:bold;
  border-bottom:groove;

}
.listadoPostDetalle{
  height:100%;
}
.comunicados{
  height:50%;
}
.comunicados>img{
  width: 90%;
  padding:2%;
}
a{
  text-decoration:none;
}
