/*Aqui es el css - Pos Principal*/
.postContainer{
  display:flex;
  flex-direction:column;
}
.postContainerf1{
  display:flex;
  justify-content:space-around;
}
.fotoPerfil{
  display:flex;
  flex-grow:1;
}
.derechaFoto{
  display:flex;
  flex-direction:column;
  flex-grow:1;
}
.topicosContainer{
  display:flex;
  justify-content:space-between;
}
.NombreFecha{
  display:flex;
  justify-content:space-between;
}



.postContainerf3{
  display:flex;

}
.postContainerf4{
  display:flex;
  align-items:center;
  justify-content:center;
}

.postContainerf5{
  display:flex;
  justify-content:space-between;
}

.likes{
  display:flex;
  flex-grow:1;
}
.derechaLike{
  display:flex;
  flex-grow:1;
}
.likes{
  display:flex;
  justify-content:space-around;
}
.derechaLike{
  display:flex;
  justify-content:space-around;
}

/*el documento ocupara toda la pagina - Estilos3.css*/
html, body{
  height:100%;
  overflow-y:hidden;
}

.containerGeneral{
  display:flex;
  flex-direction:column;
  height:95%;
  margin:0;
  padding:0;
  overflow-y:hidden;
}

.cuerpo>div{
  border:ridge;
}

.header{
  display:flex;
  justify-content:space-around;
  border-bottom:outset;
  padding-bottom:5px;
}
.cuerpo{
  display:flex;
  justify-content:space-evenly;
  height:100%;
}
.leftColumn{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:25%;
  margin:1%;
}
.midColumn{
  display:flex;
  flex-direction:column;
  overflow:scroll;
  flex-grow:1;
  max-width:45%;
}
.rightColum{
  display:flex;
  flex-direction:column;
  max-width:30%;
  flex-grow:1;
}
.midcolumHeader{
  position:sticky;
  top:0;
}
.topMedio{
  display:flex;
  justify-content:space-around;
}
.subTopMedio{
  display:flex;
  justify-content:space-around;
}
.botMedio{
  display:flex;
  flex-direction:column;
}
.tags{
  display:inline;
  padding-right: 20px;
  flex-wrap:wrap;
}

.containerTags{
  width: 100%;
}

.logo{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.interirLog{
  display:flex;
  justify-content:center;
  height:100%;
}
.LogoForUnsa{
  display:flex;
  align-items:center;
}
.busqueda{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.busquedaBarra{
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  border:groove;
  border-radius:15px;
}
.iconos{
  display:flex;
  flex-grow:1;
  justify-content:center;
}
.interiorIcones{
  display:flex;
  width:80%;
  justify-content:space-around;

}
/*Tambien podriamos usar align-self:center*/
.i{
  display:flex;
  align-self:center;
}
.busquedaTop{
  outline:none;
  display:flex;
  justify-content:space-between;
  width:75%;
  border:none;
}
button {
  border:None;
  background-color:#ffffff;
  color:none;
}
button>i{
  border:None;
  color:none;
  background-color:#ffffff
}
.columnside{
  display:flex;
  flex-direction:column;
  height:100%;
}
.containerPreguntas{
  overflow:scroll;
}
.preguntasFrecuentas{
  position:sticky;
  top:0;
}
.tree{
  list-style:None;
}
.listadoPost{
  height:50%;
}
.listadoPostDetalle{
  height:100%;
}
.comunicados{
  height:50%;
}
