{% load static %}
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>LISTA</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>LISTA DE TAREAS</h1>
                <form action="{% url 'create' %}" method="POST" class="card card-body">
                    {% csrf_token %}
                    <label for="title"> Nombre de la tarea: </label>
                    <input type="text" name="title" placeholder="Escribe una tarea" class="form-control">
                    <label for="description">Descripcion de la tarea</label>
                    <textarea name="description" rows="3" placeholder="Escribe la descripcion" class="form-control"> </textarea>
                    <button class="btn btn-success"> Save </button>
                </form>
                {% for task in tasks %}
                    <div class="card card-body mt-2 justify-content-between">
                        <h4> {{task.title}}</h4>
                        <p> {{task.description}} </p>
                        <form action="{% url 'delete' task.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger"> Delete </button>
                        </form>            
                    </div>
                {% empty %}
                    <h3 class="display-8"> No hay tarea aun </h3>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>